a{
	text-decoration:none;
	color:#6690d1;
	font-family: 'Nanum Gothic', sans-serif;
}

a:hover{
	color:#838383;
}

.bar:after{
	content:"|";margin:0 6px 0 10px
}

header {  
	width: 100%;
    top: 0;
	left: 0;
	right: 0;
	height: 75px;
	padding: 1rem;
	color: white;
	background: #4e4e4e;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Nanum Gothic', sans-serif;
}

h1, p {
  margin: 0;
}

body {
	color: #666; 
	background: #fcfcfc;
	font-family: 'Nanum Gothic', sans-serif;
}

body, html {
	height: 100%;
  	font-family: 'Nanum Gothic', sans-serif;
}

.q {
	color: #fff
}

.title{
	border-top:3px solid #999;
	border-bottom:2px solid #999;
	background:#e6e6e6;
	font-weight:bold;
	font-family: 'Nanum Gothic', sans-serif;
}

.brd{
	border-bottom:1px solid #999;
	font-family: 'Nanum Gothic', sans-serif;
}

* {
  box-sizing: border-box;
}