    ul#navi {
        width: 200px;
        text-indent: 10px;
}
    ul#navi, ul#navi ul {
        margin:0;
        padding:0;
        list-style:none;
}
    li.group div.menutitle {
        height: 35px;
        line-height: 35px;
        background:#e6e6e6;
		font-weight:bold
}
    ul.sub li {
        margin-bottom: 2px;
        height:35px;
        line-height:35px;
        background:#f4f4f4;
        cursor:pointer;
}
    ul.sub li a {
        display: block;
        width: 100%;
        height:100%;
        text-decoration:none;
        color:#000;
}
    ul.sub li:hover {
        background:#e6e6e6;
}
    body {
        margin:auto;
        padding: 0;
		font-family: 'Nanum Gothic', sans-serif;
        font-size:0.9em;
}